<% if notice %>
<div class="alert-message warning" data-alert="alert"  id='notice'>
	<a class="close" href="#">×</a>
	<p><%= notice %></p>
</div>
<% end %>

<% if alert %>
<div class="alert-message warning" data-alert="alert" id="alert">
	<a class="close" href="#">×</a>
	<p><%= alert %></p>
</div>
<% end %>